* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Caprasimo', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 450px;
    height: 450px;
    margin-top: 50px;
}


body {
    background-color: black;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    width: 150px;
    height: 150px;
    background-color: crimson;
    border: 2px solid black;
    font-size: 70px;
}
.field:hover{
    transform: scale(0.9);

}

#naslov {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#turn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    margin: 10px;
    padding: 10px;
    background-color: crimson;
    color: whitesmoke;
    cursor: pointer;
    transition: .2s;
    border:2px solid whitesmoke;
    border-radius: 10px;
    font-size: 40px;
}

.btn:hover {
    transform: scale(0.9);
}
h1, h2, p, span {
    color: whitesmoke;
}

#x {
    color: blue;
    width: 100px;
}
#o {
    color: lime;
    width: 100px;

}

.scores {
    position: absolute;
    top: 30%;
    left: 65%;
}
